* {
    box-sizing: border-box;

    
}

body{
    
    font-family: 'Hind', sans-serif;
    background-color: rgb(224, 139, 99);
    margin: 0;
    z-index: 2;

}

.jumbotron {
    background-image: url("../images/Dark colored Bricks .jpg");
    padding: 0px 45px 0 45px; 
    color: #eeee;
    margin: 0; 
    
    

}

h2 {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
    color: #fff;
    background-color: #212529;
    border-color: #32383e;
    margin: 0px 0px 20px 0px;


}

.clock {
    background-image: url("../images/stock-photo-68326377.jpg");
    width: 30rem; 
    height: 30rem;
    border: 20px solid whitesmoke;
    border-radius: 50%; 
    margin: 50px auto; 
    position: relative;
    padding: 2rem; 
    box-shadow: 
        0 0 0px 4px #257bd1,
        inset 0 0 0 3px whitesmoke,
        inset 0 0 0 10px #257bd1,
        0 0 10px #257bd1;

}

.clock-face {
    position: relative;
    width: 100%;
    height: 100%; 
    transform: translateV(-3px); 

}

.hand {
    width:  50%; 
    height: 6px;
    background: black; 
    position: absolute;
    Top: 50%; 
    transform-origin: 100%;
    transform: rotate(90deg); 
    transition: all 0.05s;
    transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1)

}



#footer {
    clear: both;
	position: sticky;
    text-align: center;
    
}