* {
    box-sizing: border-box;

    
}

body{
    
    font-family: 'Hind', sans-serif;
    background-color: rgb(224, 139, 99);
    margin: 0;
    z-index: 2;

}

.jumbotron {
    background-image: url("../images/Dark colored Bricks .jpg");
    padding: 0px 45px 0 45px; 
    color: #eeee;
    margin: 0; 
    
    

}

h2 {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
    color: #fff;
    background-color: #212529;
    border-color: #32383e;
    margin: 0px 0px 20px 0px;


}
/* clock CSS */
.clock {
    background-image: url("../images/stock-photo-68326377.jpg");
    width: 30rem; 
    height: 30rem;
    border: 20px solid #257bd1;
    border-radius: 50%; 
    margin: 50px auto; 
    position: relative;
    padding: 2rem; 
    box-shadow: 
        0 0 0px 4px black,
        inset 0 0 0 3px whitesmoke,
        inset 0 0 0 10px black,
        0 0 10px #257bd1;

}

.clock-face {
    position: relative;
    width: 100%;
    height: 100%; 
    transform: translateV(-3px); 

}

.hand {
    width:  50%; 
    height: 6px;
    background: whitesmoke; 
    position: absolute;
    Top: 50%; 
    transform-origin: 100%;
    transform: rotate(90deg); 
    transition: all 0.05s;
    transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1)

}

/* footer & copyright */

#footer {
    clear: both;
	position: sticky;
    text-align: center;
    
}

/* bounce BTN CSS */
.hvr-bounce-to-right {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
  }
  .hvr-bounce-to-right:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #2098D1;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-bounce-to-right:hover, .hvr-bounce-to-right:focus, .hvr-bounce-to-right:active {
    color: white;
  }
  .hvr-bounce-to-right:hover:before, .hvr-bounce-to-right:focus:before, .hvr-bounce-to-right:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
    transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  }