* {
    box-sizing: border-box;
    
}

body{
    background-image: url();
    font-family: 'Hind', sans-serif;

   
}

.jumbtron {
    background-image: url();
    color:#eeee;

}

h3 {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
    color: #fff;
    background-color: #212529;
    border-color: #32383e;
    margin: 0px 0px 20px 0px;


}